* { 
    margin: 0;
    box-sizing: border-box
}
.wrapper_light {
    background-image: url(../img/modal-background-mobile.png); 
    min-width: 320px;
    height: auto;
    padding: 50px 0 50px 0
}
.wrapper_light-section {
    margin: 0 auto
}
.wrapper_light-section-header {
    width: 100%;
}
.wrapper_light-section-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    width: 240px;
    margin: 0 auto;
}
.wrapper_light-section-title::before {
    content: "_";
    color: #00bcd4
}
.wrapper_light-section-title::after {
    display: block;
    content: " ";
    width: 150px;
    height: 2px;
    background-color: #000000; 
    margin: 20px auto 20px auto;

}
.wrapper_light-section-text_primary,
.wrapper_light-section-text_secondary {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}
.wrapper_light-section-text {
    width: 260px;
    margin: 0 auto;
    text-align: center
}
.wrapper_light-section-main {
    width: 100%;
}
.wrapper_light-section-list {
    width: 270px;
    margin: 0 auto;
    margin-top: 20px;
    list-style: none;
}
.wrapper_light-section-list-item {
    margin-bottom: 20px;
    position: relative;
}
.wrapper_light-section-list-item::before {
    content: url(../img/list_img.png);
    position: absolute;
    left: -40px;
    top: 5px

}
.wrapper_light-section-list-item-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 20px
}
.wrapper_light-section-list-item-text_bold {
    font-weight: 800
}
.wrapper_light-section-text_last {
    display: block;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    margin: 0 auto;
    padding-left: -10px;
    margin-bottom: 20px;
    width: 270px;
    min-height: 120px;
    background: url(../img/section12bg.png) no-repeat 200px 60px

}
.wrapper_light-section-article-list {
    list-style: none;
    width: 285px;
    padding: 0;
    margin: 0 auto
}
.wrapper_light-section-article-list-item {
    margin-bottom: 15px;
    width: 100%;
    position: relative;
}
.wrapper_light-section-article-list-item_video {
    width: 100%;
}
.video-play-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) 
}
@media (min-width: 768px) {
    .wrapper_light-section {
        width: 690px;
    }
    .wrapper_light-section-header {
        width: 330px;

    }
    .wrapper_light-section-title,
    .wrapper_light-section-text {
        margin-left: 0
    }
    .wrapper_light-section-title {
        text-align: left;
        font-size: 30px;
        width: 240px;
    }
    .wrapper_light-section-title::after {
        display: none;
    }
    .wrapper_light-section-text {
        margin-top: 30px;
        text-align: right;

    }
    .wrapper_light-section-text_primary::after {
        display: block;
        content: " ";
        width: 250px;
        height: 2px;
        background-color: #000000; 
        margin: 2px auto 2px auto;
    }
    .wrapper_light-section-text_secondary {
        text-align: right
    }
    .wrapper_light-section-main {
        display: flex;
        justify-content: space-between
    }
    .wrapper_light-section-list {
        width: 330px;
    }
    .wrapper_light-section-list::after {
        display: block;
        content: " ";
        width: 220px;
        height: 2px;
        background-color: #000000; 
        margin-left: -30px;
        margin-bottom: 20px;
    }
    .wrapper_light-section-text_last::after {
        display:block;
        content: " ";
        width: 2px;
        height: 100px;
        background-color: #000000; 
        position: relative;
        left: -20px;
        bottom: 70px
    }
    .wrapper_light-section-text_last {
        background-position-y: 120px;
    }
    .wrapper_light-section-article {
        position: relative;
        padding-top: 150px;
        padding-bottom: 60px;
        top: -190px;
        padding-right: 40px;
        width: 330px;
        background: url(../img/video-bg.png) no-repeat;
        background-position-y: -50px;

    }
    .wrapper_light-section-article-list-item_video {
        width: 310px;
        height: auto;
        margin-left: -10px;
        box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.29);
    }
    
}
@media (min-width: 1150px) {
    .wrapper_light-section{
        width: 1150px;
    }
    .wrapper_light-section-title {
        font-size: 42px;
        width: 350px;
    }
    .wrapper_light-section-text {
        width: 450px;
        font-size: 18px;
    }
    .wrapper_light-section-text_primary::after {
        width: 450px;
    }
    .video-section-wrapper {
        width: 640px;
        height: 820px;
        background-color: #f5f5f5;
        position: relative;
        top: -170px;
        left: 50px;
        box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.29)
    }
    .wrapper_light-section-article {
        width: 670px;
        background: url(../img/video-bg-desktop.png) no-repeat;
        background-size: contain;
        padding-top: 90px;
        top: -80px;
        left: 50px;
        padding-right: 0
        
    }
    
    .wrapper_light-section-article-list-item_video {
        width: 350px;
    }
    .wrapper_light-section-article-list-item {
        right: 260px;
    }
}